@model Category



<style>
    .top {
        margin-top: 100px;
    }
</style>
<div class="top">
    <form asp-action="AddCategory" asp-controller="Home" class="mt-5 mx-auto max-w-sm" >
        <div asp-validation-summary="ModelOnly"></div>

        <div class="mb-5 group relative z-0 w-full">
            <input asp-for="CatName" type="text" class="py-2.5 px-0 text-gray-900 bg-transparent border-gray-300 peer block w-full appearance-none border-0 border-b-2 text-sm focus:outline-none focus:ring-0 focus:border-blue-600 dark:text-white dark:border-gray-600 dark:focus:border-blue-500" placeholder=" " required />
            <label asp-for="CatName" class="text-gray-500 -translate-y-6 top-3 origin-[0] absolute -z-10 scale-75 transform text-sm duration-300 dark:text-gray-400 peer-focus:font-medium peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Category Name</label>
            <span asp-validation-for="CatName" class="text-red-400"></span>
        </div>
      

        <input type="submit" class="btn bg-blue-700 px-5 py-2.5 text-white w-full rounded-lg text-center text-sm font-medium hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 sm:w-auto dark:hover:bg-blue-700 dark:focus:ring-blue-800" value="Submit" />
    </form>
</div>
