@model ProductEdit

@{
    ViewData["Title"] = "UpdateProduct";
}

<style>
    .top {
        margin-top: 100px;
    }

    .form-container {
        display: flex;
        justify-content: space-between;
    }

        .form-container form {
            width: 45%;
        }

    .image-preview {
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .image-preview img {
            max-width: 100%;
            max-height: 500px;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 10px;
        }
</style>

<div class="top">
    <div class="form-container">
        <form asp-action="Edit" asp-controller="Home" class="mt-5 mx-auto max-w-sm" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly"></div>

            <input type="hidden" asp-for="ProId" />
            <input type="hidden" asp-for="ProName" />
            <input type="hidden" asp-for="CategoryId" />

            <div class="mb-5 group relative z-0 w-full">
                <input asp-for="ProductFile" id="SelectFile" type="file" class="py-2.5 px-0 text-gray-900 bg-transparent border-gray-300 peer block w-full appearance-none border-0 border-b-2 text-sm focus:outline-none focus:ring-0 focus:border-blue-600 dark:text-white dark:border-gray-600 dark:focus:border-blue-500" placeholder=" " required />
                <label asp-for="ProductFile" class="text-gray-500 -translate-y-6 top-3 origin-[0] absolute -z-10 scale-75 transform text-sm duration-300 dark:text-gray-400 peer-focus:font-medium peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Image</label>
                <span asp-validation-for="ProductFile" class="text-red-400"></span>
            </div>
            <div class="image-preview">
                <img src="@Url.Content("~/ProductImage/" + Model.ProImage)" id="myImg" alt="Image Preview" />
            </div>

            <div class="mb-5 group relative z-0 w-full">
                <input asp-for="BrandName" class="py-2.5 px-0 text-gray-900 bg-transparent border-gray-300 peer block w-full appearance-none border-0 border-b-2 text-sm focus:outline-none focus:ring-0 focus:border-blue-600 dark:text-white dark:border-gray-600 dark:focus:border-blue-500" placeholder=" " required />
                <label asp-for="BrandName" class="text-gray-500 -translate-y-6 top-3 origin-[0] absolute -z-10 scale-75 transform text-sm duration-300 dark:text-gray-400 peer-focus:font-medium peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Brand Name</label>
                <span asp-validation-for="BrandName" class="text-red-400"></span>
            </div>

            <div class="grid md:grid-cols-2 md:gap-6">
                <div class="mb-5 group relative z-0 w-full">
                    <input asp-for="Stock" class="py-2.5 px-0 text-gray-900 bg-transparent border-gray-300 peer block w-full appearance-none border-0 border-b-2 text-sm focus:outline-none focus:ring-0 focus:border-blue-600 dark:text-white dark:border-gray-600 dark:focus:border-blue-500" placeholder=" " required />
                    <label asp-for="Stock" class="text-gray-500 -translate-y-6 top-3 origin-[0] absolute -z-10 scale-75 transform text-sm duration-300 dark:text-gray-400 peer-focus:font-medium peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Stock</label>
                    <span asp-validation-for="Stock" class="text-red-400"></span>
                </div>

                <div class="mb-5 group relative z-0 w-full">
                    <input asp-for="ProPrice" class="py-2.5 px-0 text-gray-900 bg-transparent border-gray-300 peer block w-full appearance-none border-0 border-b-2 text-sm focus:outline-none focus:ring-0 focus:border-blue-600 dark:text-white dark:border-gray-600 dark:focus:border-blue-500" placeholder=" " required />
                    <label asp-for="ProPrice" class="text-gray-500 -translate-y-6 top-3 origin-[0] absolute -z-10 scale-75 transform text-sm duration-300 dark:text-gray-400 peer-focus:font-medium peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Price</label>
                    <span asp-validation-for="ProPrice" class="text-red-400"></span>
                </div>
            </div>

            <div class="mb-5 group relative z-0 w-full">
                <input asp-for="Description" class="py-2.5 px-0 text-gray-900 bg-transparent border-gray-300 peer block w-full appearance-none border-0 border-b-2 text-sm focus:outline-none focus:ring-0 focus:border-blue-600 dark:text-white dark:border-gray-600 dark:focus:border-blue-500" placeholder=" " required />
                <label asp-for="Description" class="text-gray-500 -translate-y-6 top-3 origin-[0] absolute -z-10 scale-75 transform text-sm duration-300 dark:text-gray-400 peer-focus:font-medium peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Description</label>
                <span asp-validation-for="Description" class="text-red-400"></span>
            </div>

            <input type="submit" class="btn bg-blue-700 px-5 py-2.5 text-white w-full rounded-lg text-center text-sm font-medium hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 sm:w-auto dark:hover:bg-blue-700 dark:focus:ring-blue-800" value="Submit" />
        </form>
    </div>
</div>

<script>
    document.getElementById('SelectFile').addEventListener('change', function (e) {
        var file = e.target.files[0];
        var reader = new FileReader();
        reader.onload = function (e) {
            document.getElementById('myImg').src = e.target.result;
        };
        reader.readAsDataURL(file);
    });
</script>
